*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 100%;
    height: 100%;
}


.donutContainer{
    background: none;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.button{
    position: absolute;
    top: 50%;
}
#fileupload{
    position: absolute;
    top: 6%;
    left: 25%;
    color: white;
}
#audio1{
    position: absolute;
    transform: translate();
}
#canvas1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px) contrast(50);
}
#audio1{
    width: 50%;
    margin: 0 25%;
    display: block;
}
#score{
    position: absolute;

    top: 15%;
    left: 45%;
}
h1{
    font-size: larger;
    color: white;
}
.donutContainer{
    z-index: 3;
}
.button{
    z-index: 3;
}
.donut{
    z-index: 3;
}